{% extends 'base.html' %}
{% load static %}
{% block navbar_nav %}
{% endblock navbar_nav %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/home.css' %}">

    <!-- About -->
    <div class="container-fluid about-container-fluid">
        <div class="about-container-fluid-overlay"></div>
        
        <div class="container position-relative">
            <div class="row mt-4 mb-4">
                <div class="col-sm-6">
                    <h2 class="text-white mb-3" style="font-family: 'Vollkorn', serif;">About Zeus Gym</h2>
                    <p class="text-light">Donec vestibulum libero sed massa porttitor, et eleifend nunc egestas. Vestibulum vel nisl ut ante euismod pulvinar nec in dolor. Vivamus vulputate molestie turpis non scelerisque. Sed in interdum erat. Nulla neque magna, mattis vehicula ipsum eget, sagittis pulvinar purus. Quisque malesuada dolor sed tempor ultrices. Ut sollicitudin, ex non ullamcorper bibendum, tortor nibh porttitor elit, tempor mattis magna lacus et nunc. Proin nisi lorem, feugiat nec molestie vel, elementum non odio. Nullam aliquet vel ex eu aliquet. Curabitur ornare, elit ac pulvinar rutrum, odio nisl sollicitudin ante, eget mollis mauris odio vel tortor. Nunc vestibulum lacus ut nulla tincidunt, non molestie erat vehicula. In vitae iaculis ex, pretium finibus erat. Nullam varius sodales risus non iaculis.</p>
                </div>
            </div>
            
        </div>
    </div>


    <!-- Testimonials -->
    <div class="container mt-5">
        <h2 class="text-center mb-3" style="font-family: 'Vollkorn', serif;">Testimonials</h2>
        <div id="testimonials" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <img class="rounded-circle testimonial-img" src="{% static 'core/img/testimonial_1.jpg' %}" alt="First slide">
                    <h4 class="mt-2">John Doe</h4>
                    <hr>
                    <p>
                        <i class="mr-2 fa fa-fw fa-quote-left"></i>
                        Neque cupiditate assumenda in maiores repudiandae mollitia architecto.
                    </p>
                </div>
                <div class="carousel-item text-center">
                    <img class="rounded-circle testimonial-img" src="{% static 'core/img/testimonial_1.jpg' %}" alt="First slide">
                    <h4 class="mt-2">John Doe</h4>
                    <hr>
                    <p>
                        <i class="mr-2 fa fa-fw fa-quote-left"></i>
                        Neque cupiditate assumenda in maiores repudiandae mollitia architecto.
                    </p>
                </div>
                <div class="carousel-item text-center">
                    <img class="rounded-circle testimonial-img" src="{% static 'core/img/testimonial_1.jpg' %}" alt="First slide">
                    <h4 class="mt-2">John Doe</h4>
                    <hr>
                    <p>
                        <i class="mr-2 fa fa-fw fa-quote-left"></i>
                        Neque cupiditate assumenda in maiores repudiandae mollitia architecto.
                    </p>
                </div>
            </div>

            <a class="carousel-control-prev" href="#testimonials" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimonials" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div class="container-fluid mt-5 form-container-fluid">
        <div class="form-container-fluid-overlay"></div>
        <h2 class="position-relative text-center mt-3 mb-3" style="font-family: 'Vollkorn', serif;">Connect with us</h2>

        <!-- Contact Form -->
        <div class="container mb-5 position-relative form-container">
            <div class="row form-container-row">
                <div class="col-sm-6 rounded-left d-flex align-items-center form-social">
                    <div class="form-social-overlay"></div>
                    <div class="row mx-auto pt-2">
                        <div class="col-12">
                            <table>
                                <tr>
                                    <td rowspan="2" valign="top"><i class="position-relative mr-2 fa fa-fw fa-map-marker"></i></td>
                                    <td><p class="mb-0 font-weight-bold">Address</p></td>
                                </tr>
                                <tr>
                                    <td><p>1160 Cherry Ridge Drive,<br>Rochester, New York.</p></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-12">
                            <table>
                                <tr>
                                    <td rowspan="2" valign="top"><i class="position-relative mr-2 fa fa-fw fa-phone"></i></td>
                                    <td><p class="mb-0 font-weight-bold">Phone</p></td>
                                </tr>
                                <tr>
                                    <td><p><a class="text-dark" href="tel:#">+91 88888 88888</a></p></td>
                                </tr>
                            </table> 
                        </div>
                        <div class="col-12">
                            <table>
                                <tr>
                                    <td rowspan="2" valign="top"><i class="position-relative mr-2 fa fa-fw fa-envelope"></i></td>
                                    <td><p class="mb-0 font-weight-bold">E-mail</p></td>
                                </tr>
                                <tr>
                                    <td><p><a class="text-dark" href="mailto:#">contact@zeusgym.com</a></p></td>
                                </tr>
                            </table>  
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 rounded-right pt-2 bg-black text-light">
                    {% include 'core/choice_form.html' %}
                    {% include 'core/contact_form.html' %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'core/js/auto_submit.js' %}"></script>

{% endblock content %}
