{% load my_extras %}

<h1 style="color: #555555;font-size: 23px;">{{ cd.name }}</h1>
<hr style="margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">

<table>
{% for field in cd %}
    <tr>
        <td style="vertical-align: top;padding-right: 15px;font-weight: bold;"><p style="color: #555555;font-size: 14px;margin-top: 0;">{{ field|underscore_to_space|title }}</p></td>
        <td style="vertical-align: top;"><p style="color: #555555;font-size: 14px;margin-top: 0;">{{ cd|get_item:field }}</p></td>
    </tr>
{% endfor %}
</table>

<hr style="margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
<small style="color: #555555;font-size: 12px;">This is an automatic email please do not reply.</small>
