<h1 style="color: #555555;font-size: 23px;">Confirm your email.</h1>
<hr style="margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">

<p style="color: #555555;font-size: 14px;">Click below link or copy paste in a browser to confirm its you.</p>
<p style="color: #555555;font-size: 14px;">Once confirmed you will be subscribed to our newsletter :D</p>
<br>

<a href="{{ conf_link }}">{{ conf_link }}</a>

<hr style="margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
<small style="color: #555555;font-size: 12px;">This is an automatic email please do not reply.</small>
